button{
  padding-left: 250px;
  padding-right: 250px;
}
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.6);
  overflow: hidden;
  height: 90%;
  width: 100%;
  padding-left: 70px;
  padding-top: 60px;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-img-center {
  width: 45%;

  /* Link to your background image using in the property below! */
  background-image: solid blue;
  background-size: cover;
}

.card-signin .card-body {
  padding: 2rem;
}


#explore   {
   padding-left: 0px;
  padding-right: 0px;
}
