#box
{
  width: 200px;
  height: 90px;
  font-family: Nunito, Helvetica, arial, sans-serif;
  text-align: left;
  margin: auto;
  padding: 0px;
  white-space: pre;
	overflow:hidden;
	text-overflow: ellipsis;
}

